{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{% static 'css/materialize.min.css' %}" media="screen,projection" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Patrick Dugan, highschool coderman</title>
</head>
<body style="background-color: #383838;">
  <nav style="background-color: #ff0000;">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li class="waves-effect waves-light cntr-button">
           <a class="active" href="https://github.com/patrickDugan04">
            <i class="fa fa-github">
            </i>
              GitHub
            </a>
         </li>
         <li class="waves-effect waves-light cntr-button">
                 <a class="active" href="/Pposts/">
                     <i class="material-icons left">
                         create</i>Projects</a>
         </li>
         <li class="waves-effect waves-light cntr-button">
           <a class="active" href="/Hposts/">
             <i class="material-icons left">
                 local_library
              </i>
              Hobbies
            </a>
         </li>
         <li class="waves-effect waves-light cntr-button">
            <a class="active" href="https://leetcode.com/patrickdugan/">

              <i class="fa fa-keyboard-o">
              </i>
              LeetCode
            </a>
          </li>
        </ul>
      </div>
    </nav>
<br>

    <p class="center-align" style="text-align: center; color: #ffffff; font-size: 200px;">
        <span style="color: #ff0000;">P</span>atrick <span style="color: #ff0000;">D</span>ugan
    </p>
</body>
