{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{% static 'css/materialize.min.css' %}" media="screen,projection" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Pat's World</title>
</head>
<body>
        <div class="row">
                <ul class="tabs tabs-fixed-width z-depth-3">
                   <li class="tab col s2 waves-effect waves-light btn cntr-button">
                        <div>
                           <a class="active" href="https://github.com/patrickDugan04">
                                <i class="fa fa-github">
                                </i>
                                GitHub
                            </a>
                        </div>
                   </li>
                   <li class="tab col s2 waves-effect waves-light btn cntr-button">
                        <div>
                           <a class="active" href="posts/">
                               <i class="medium material-icons">
                                   create
                                </i>
                                Projects

                            </a>
                        </div>
                   </li>
                   <li class="tab col s2 waves-effect waves-light btn cntr-button">
                        <div>
                           <a class="active" href="">
                               <i class="medium material-icons">
                                   local_library
                                </i>
                                Hobbies
                            </a>
                        </div>
                   </li>
                   <li class="tab col s2 waves-effect waves-light btn cntr-button">
                        <div>
                           <a class="active" href="https://leetcode.com/patrickdugan/">

                               <i class="fa fa-keyboard-o">
                                </i>
                                LeetCode
                            </a>
                        </div>
                   </li>
                </ul>
          </div>
          <div class="divider"></div>
<br>

    <h2 class="center-align" style="text-align: center;">
        Home of Patrick Dugan
    </h2>
</body>
