{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{% static 'css/materialize.min.css' %}" media="screen,projection" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{{ post.title }}</title>
</head>

<body style="background-color: #383838;">
  <h1 class="center-align" style="color: #FF0000;">
      {{ post.title }}
  </h1>

  <div class="center-align">
    <img src="{{ post.image_url }}" width="300" height="400">
    <br>
    <br>
    <div class="container" style = "color: #ffffff">
      {{ post.text }}
    </div>
  </div>

</body>
<html>
